@use '@material/button/mdc-button';
@use '@material/button';
@use '@material/textfield/mdc-text-field';
@use "@material/drawer/mdc-drawer";
@use "@material/list/mdc-list";
@use "@material/dialog/mdc-dialog";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/icon-button/mdc-icon-button";

@use "@material/checkbox/mdc-checkbox";

.btn-record {
  @include button.container-fill-color(rgb(255, 64, 0));
  width: 100%;
}

audio {
  height: 0px;
}

body {
  margin-top: 70px;
}