<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="manifest.json" rel="manifest">
    <link href="dist/bundle.css" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <header class=" mdc-top-app-bar mdc-top-app-bar--short">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <button
                        class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon--unbounded">menu</button><span
                        class="mdc-top-app-bar__title">Looper</span> </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                    <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded"
                        aria-label="Bookmark this page">bookmark</button>
                </section>
            </div>
        </header>

        <button id="recordbtn" class="btn-record mdc-button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">{{ recordtext }}</span>
        </button>
        <!-- <ol class="mdc-list">
            <li v-for="player in players" class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__text">
                    <input type="checkbox" id="checkbox" v-model="player['player'].muted">
                    <label for="checkbox">Mute</label>
                </span>
            </li>
        </ol> -->
        <ul class="mdc-list" role="group" aria-label="List with checkbox items">
            <li v-for="player in players" class="mdc-list-item" role="checkbox" aria-checked="false">
                <span class="mdc-list-item__graphic">
                    <div class="mdc-checkbox">
                        <input v-model="player['player'].muted" type="checkbox" class="mdc-checkbox__native-control" id="demo-list-checkbox-item-1" />
                        <div class="mdc-checkbox__background">
                            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark-path" fill="none"
                                    d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                            </svg>
                            <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                    </div>
                </span>
                <label class="mdc-list-item__text" for="demo-list-checkbox-item-1">
                    <label for="checkbox">Mute</label>
                </label>
            </li>
        </ul>
    </div>




    <script src="dist/bundle.js"></script>
</body>

</html>